// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width:991px){
  .navbar-collapse {
    position: absolute;
    background: black;
    width: 100%;
    left: 0px;
    top: 84px;
    z-index: 1;
  }
}
#navbarCollapse {
  justify-content: space-between;
}
div.img {
  padding-bottom: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
  margin: 35px 0;
}
header{
  background: image('fon_home.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  /*background-color: rgba(40,40,40,0.6);*/
  color:#fff;
  margin-bottom: 75px;
  box-shadow:0 0 0 508px rgba(0, 0, 0, 0.33) inset;

}